@font-face {
  font-family: "iconfont"; /* Project id 2944435 */
  src: url('iconfont.woff2?t=1637133559994') format('woff2'),
       url('iconfont.woff?t=1637133559994') format('woff'),
       url('iconfont.ttf?t=1637133559994') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e617";
}

.icon-shouqi:before {
  content: "\e619";
}

.icon-tongzhi:before {
  content: "\e61a";
}

.icon-yuming:before {
  content: "\e61b";
}

.icon-fenzu:before {
  content: "\e61c";
}

.icon-ceshishibai:before {
  content: "\e60a";
}

.icon-ceshizhong:before {
  content: "\e60b";
}

.icon-guanbibiaoqianye:before {
  content: "\e60c";
}

.icon-fuzhi:before {
  content: "\e60d";
}

.icon-ceshichenggong:before {
  content: "\e60e";
}

.icon-daiceshi:before {
  content: "\e60f";
}

.icon-shanchu:before {
  content: "\e610";
}

.icon-sousuo:before {
  content: "\e611";
}

.icon-xinzeng:before {
  content: "\e613";
}

.icon-qingkonglishijilu:before {
  content: "\e614";
}

.icon-lishijilu:before {
  content: "\e616";
}

